.layout{
    width: 100%;
    height: 100%;
    .container{
        position: fixed;
        width: 100%;
        top: 0;
        bottom:50px
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
