.section{
    height: 100%;
    width: 100%;
    .header{
        height: 50px;
        width: 100%;
    }
    .content{
        height: 150px;
        width: calc(100% - 20px); 
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        background: linear-gradient(0deg, #fee697,#fcdc78);
        padding: 10px;
        margin: 0 10px;
        border-radius: 10px;
        .date{
            height: 30px;
            display: flex;
            align-items: center;
            .text{
                font-size: 16px;
                font-weight: bold;
                margin-right: 5px;
            }
        }
        .statistics{
            display: flex;
            flex: 1;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .money{
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .type{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}